<!--Navbar Start-->
<nav class="navbar navbar-expand-lg fixed-top navbar-custom navbar-light sticky sticky-dark" id="navbar">
  <div class="container">
    <!-- LOGO -->
    <a class="navbar-brand logo" routerLink="/">
      <img src="./assets/images/zooki.png" alt="" height="20">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
      aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <i class="mdi mdi-menu"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav ms-auto navbar-center" id="navbar-navlist">
        <li class="nav-item">
          <a data-scroll [routerLink]="['home']" [routerLinkActive]="'active'" class="nav-link">Home</a>
        </li>
        <li class="nav-item">
          <a data-scroll [routerLink]="['about']" [routerLinkActive]="'active'" class="nav-link">About</a>
        </li>
        <li class="nav-item">
          <a data-scroll [routerLink]="['service']" [routerLinkActive]="'active'" class="nav-link">Services</a>
        </li>
        <li class="nav-item">
          <a data-scroll [routerLink]="['/contact']" class="nav-link">Contact us</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- Navbar End -->
