<!-- Main Sidebar Container -->

<div class="card">
  <div class="card-header">
    <h3 class="card-title">My Dashboard</h3>
  </div>
  <div class="card-body text-center item-user">
    <div *ngIf="profile" class="profile-pic">
      <img src="{{profile.image}}" class="img img-circle" style="border-radius: 50%;" alt="user">
      <a href="#" class="text-dark">
        <h4 class="mt-3 mb-0 font-weight-semibold">{{profile.display_name}}</h4>
      </a>
    </div>
  </div>
  <div class="card-body ">

    <aside class="app-sidebar doc-sidebar my-dash">
      <div class="app-sidebar__user clearfix">
        <ul id="account-menu" class="side-menu list-unstyled">
          <li>
            <a class="side-menu-item" [routerLink]="['dashboard']" [routerLinkActive]="'side-menu-item-active'">
              <i class="fa fa-home fs-20"></i><span class="side-menu-label ms-2">Dashboard</span>
            </a>
          </li>
          <li>
            <a class="side-menu-item" [routerLink]="['business']" [routerLinkActive]="'side-menu-item-active'"
              data-pjax="0">
              <i class="fa fa-briefcase fs-20 "></i><span class="side-menu-label ms-2">My Business</span>
            </a>
          </li>
          <li>
            <a class="side-menu-item" [routerLink]="['product']" [routerLinkActive]="'side-menu-item-active'"
              data-pjax="0">
              <i class="fa fa-plus fs-20 "></i><span class="side-menu-label ms-2">My {{business_type}}s</span>
            </a>
          </li>
          <li>
            <a class="side-menu-item" [routerLink]="['profile']" [routerLinkActive]="'side-menu-item-active'">
              <i class="fa fa-user fs-20 "></i><span class="side-menu-label ms-2">My Profile</span>
            </a>
          </li>
          <!-- <li>
            <a class="side-menu-item" [routerLink]="['setting']">
              <i class="fa fa-cog fs-20 "></i><span class="side-menu-label ms-2">Settings</span>
            </a>
          </li> -->
          <li>
            <a class="side-menu-item" (click)="onLogout()">
              <i class="fa fa-sign-out fs-20"></i><span class="side-menu-label ms-2">Logout</span>
            </a>
          </li>
        </ul>
      </div>
    </aside>
  </div>
</div>
