<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title *ngIf="business">{{business.title}}</title>
  <meta *ngIf="business" content="{{business.title}}" name="description">
</head>

<body>

  <!--Main Content Area-->
  <app-header [business]="business" [items]="items"></app-header>
  <router-outlet></router-outlet>
  <app-footer [business]="business"></app-footer>
  <!--End Main Content Area-->

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center">
    <i class="bi bi-arrow-up-short"></i>
  </a>
  <div id="preloader"></div>
</body>

</html>
