<div class="col-lg-12 col-md-12">
  <a routerLink="/account/product/index"><i class="fa fa-arrow-left"></i> Back</a>
  <div class="inner-main-profile">
    <div class="card mb-0 overflow-hidden">
      <div class="card-header">
        <h3 class="card-title">{{business_type}} Contents</h3>
      </div>
      <div class="card-body">
        <form [formGroup]="form" (ngSubmit)="submit()">
          <div class="row">
            <div class="col-md-6">
              <div class="mb-3 field-product-title required">
                <label class="form-label" for="product-title">{{business_type}} Name</label>
                <input formControlName="title" id="product-title" type="text" name="Product[title]"
                  class="form-control">
              </div>
            </div>
            <div class="col-md-6">
              <div class="mb-3 field-product-category_id required">
                <label class="form-label" for="product-category_id">{{business_type}} Category</label>
                <select formControlName="category_id" id="product-category_id" class="form-select"
                  name="Product[category_id]" aria-required="true" aria-invalid="false">
                  <!-- <optgroup label="Copywriting &amp; Content Development"> -->
                  <option value="">CHOOSE</option>
                  <option *ngFor="let category of categories" [ngValue]="category.id">
                    {{ category.name }}
                  </option>
                  <!-- </optgroup> -->
                </select>
              </div>
            </div>
            <div *ngIf="business_type== 'Product'" class="col-md-6">
              <div class="mb-3 field-product-brand">
                <label class="form-label" for="product-brand">Brand Name</label>
                <select formControlName="brand" id="product-brand" class="form-select" name="Product[brand]"
                  aria-required="true" aria-invalid="false">
                  <!-- <optgroup label="Copywriting &amp; Content Development"> -->
                  <option value="">CHOOSE</option>
                  <option *ngFor="let brand of brands" [ngValue]="brand.name">
                    {{ brand.name }}
                  </option>
                  <!-- </optgroup> -->
                </select>
              </div>
            </div>
            <div *ngIf="business_type== 'Product'" class="col-md-6">
              <div class="mb-3 field-product-price">
                <label class="form-label" for="product-price">Price (NPRs)</label>
                <input type="text" formControlName="price" id="product-price" class="form-control" name="Product[price]"
                  placeholder="i.e. 500">
                <div class="form-text text-muted">Note: price should be in nepali currency.</div>
              </div>
            </div>

            <div *ngIf="business_type== 'Service'" class="col-md-12">
              <div class="mb-3 field-product-price">
                <label class="form-label" for="product-price">Price (NPRs)</label>
                <input type="text" formControlName="price" id="product-price" class="form-control" name="Product[price]"
                  placeholder="i.e. 500">
                <div class="form-text text-muted">Note: price should be in nepali currency.</div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="mb-3 field-product-content">
                <angular-editor formControlName="content" [config]="editorConfig"></angular-editor>
              </div>
            </div>

            <div class="col-md-12">
              <div class="row">
                <div class="col-md-6 mb-4">
                  <div class="checkbox checkbox-info field-product-has_discount">
                    <label class="custom-control mt-4 form-checkbox" for="product-has_discount">
                      <input type="checkbox" (change)="showDiscountField();" formControlName="has_discount"
                        name="Product[has_discount]">
                      <span class="custom-control-label text-dark">Has Discount</span></label>
                  </div>
                </div>

                <div *ngIf="isDiscountFieldDisplayed" class="col-md-6 discount_text">
                  <div class="mb-3 field-product-discount">
                    <label class="form-label" for="product-discount">Discount</label>
                    <input type="number" formControlName="discount" id="product-discount" class="form-control"
                      name="Product[discount]" min="1" max="100">
                    <div class="form-text text-muted">Note: Enter discount percent here.</div>
                  </div>
                </div>
              </div>
            </div>

            <ngx-dropzone (change)="onSelect($event)" [maxFileSize]="2097152">
              <ngx-dropzone-label>
                Drop your images here.. <br>
                Note: Select upto 5 files. File size should not exceed 2MB
              </ngx-dropzone-label>
              <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files" [file]="f"
                [removable]="true" (removed)="onRemove(f)">
              </ngx-dropzone-image-preview>
            </ngx-dropzone>

            <div *ngIf="business_type== 'Product'" class="col-md-6">
              <div class="mb-3 field-product-condition">
                <label class="form-label" for="product-condition">Condition</label>
                <select formControlName="condition" id="product-condition" class="form-select"
                  name="Product[condition]">
                  <option value="">CHOOSE</option>
                  <option value="New">Brand New</option>
                  <option value="Used">Second Hand</option>
                  <option value="Refurbished">Like New</option>
                </select>
              </div>
            </div>
            <div *ngIf="business_type== 'Product'" class="col-md-6">
              <div class="mb-3 field-product-status">
                <label class="form-label" for="product-status">Status</label>
                <select formControlName="status" id="product-status" class="form-select" name="Product[status]">
                  <option value="publish">Actived</option>
                  <option value="pending">Pending</option>
                </select>
              </div>
            </div>

            <div *ngIf="business_type== 'Service'" class="col-md-12">
              <div class="mb-3 field-product-status">
                <label class="form-label" for="product-status">Status</label>
                <select formControlName="status" id="product-status" class="form-select" name="Product[status]">
                  <option value="publish">Actived</option>
                  <option value="pending">Pending</option>
                </select>
              </div>
            </div>

            <div class="col-md-12 text-center card-footer mt-4">
              <button class="btn btn-block  btn-success" type="submit" [disabled]="!form.valid">Continue</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
