<div *ngIf="!businessLoaded" class="col-lg-12 col-md-12">
  Loading.....
</div>
<div *ngIf="businessLoaded" class="col-lg-12 col-md-12">
  <form [formGroup]="form" (ngSubmit)="onUpdate()" id="business-create-form" class="business-create" method="post">
    <div class="row">
      <div class="col-md-8">
        <div class="card card-primary">
          <div class="card-header with-border">
            <h3 class="card-title">Content</h3>
          </div>
          <div class="card-body chart-responsive">

            <!-- <div class="mb-3">
              <label for="formFile" class="form-label">Upload file example</label>
              <input (change)="onFilechange($event)" class="form-control" type="file" id="formFile">
              <button (click)="uploadImage()" type="button" class="btn btn-primary mt-3">Upload</button>
            </div> -->

            <div class="col-md-12">
              <div class="mb-3 field-business-title required">
                <label class="form-label" for="business-title">Title</label>
                <input type="text" formControlName="title" id="business-title" [(ngModel)]="business.title"
                  class="form-control" name="Business[title]" aria-required="true">
              </div>
            </div>
            <div class="col-md-12">
              <div class="mb-3 field-business-slogan required">
                <label class="form-label" for="business-slogan">Slogan</label>
                <input type="text" formControlName="slogan" id="business-slogan" [(ngModel)]="business.slogan"
                  class="form-control" name="Business[slogan]" aria-required="true">
              </div>
            </div>
            <div class="mb-3 field-business-content">
              <angular-editor formControlName="content" [(ngModel)]="business.content"
                [config]="editorConfig"></angular-editor>
            </div>
          </div>
        </div>

        <div class="card card-primary mt-2">
          <div class="card-header with-border">
            <h3 class="card-title">Address</h3>
          </div>
          <div class="card-body chart-responsive">
            <div class="row">
              <div class="col-md-6">
                <div class="mb-3 field-business-city required">
                  <label class="form-label" for="business-city">City</label>
                  <select formControlName="city" [(ngModel)]="business.city" id="business-city" class="form-select"
                    name="Business[city]" aria-required="true">
                    <option value="">-- Select City--</option>
                    <option *ngFor="let city of cities" [ngValue]="city.name">{{ city.name }}</option>
                  </select>
                </div>
              </div>
              <div class="col-md-6">
                <div class="mb-3 field-business-location required">
                  <label class="form-label" for="business-location">Address</label>
                  <input formControlName="location" [(ngModel)]="business.location" type="text" id="business-location"
                    class="form-control" name="Business[location]" maxlength="150" aria-required="true">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="mb-3 field-business-email required">
                  <label class="form-label" for="business-email">Email</label>
                  <input formControlName="email" [(ngModel)]="business.email" type="text" id="business-email"
                    class="form-control" name="Business[email]" maxlength="150" aria-required="true">
                </div>
              </div>
              <div class="col-md-6">
                <div class="mb-3 field-business-phone required">
                  <label class="form-label" for="business-phone">Phone</label>
                  <input formControlName="phone" [(ngModel)]="business.phone" type="text" id="business-phone"
                    class="form-control" name="Business[phone]" maxlength="150" aria-required="true">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="mb-3 field-business-mobile">
                  <label class="form-label" for="business-mobile">Mobile</label>
                  <input formControlName="mobile" [(ngModel)]="business.mobile" type="text" id="business-mobile"
                    class="form-control" name="Business[mobile]" maxlength="150">
                </div>
              </div>
              <div class="col-md-6">
                <div class="mb-3 field-business-whatsapp_phone">
                  <label class="form-label" for="business-whatsapp_phone">Whatsapp/Viber Number</label>
                  <input formControlName="whatsapp_phone" [(ngModel)]="business.whatsapp_phone" type="text"
                    id="business-whatsapp_phone" class="form-control" name="Business[whatsapp_phone]" maxlength="150">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="card card-primary mt-2">
          <div class="card-header with-border">
            <h3 class="card-title">Location</h3>
          </div>
          <div class="card-body chart-responsive">
            <div class="row">
              <div class="col-md-6">
                <div class="mb-3 field-business-latitude required">
                  <label class="form-label" for="business-latitude">Latitude</label>
                  <input formControlName="latitude" [(ngModel)]="business.latitude" type="text" id="business-latitude"
                    class="form-control" name="Business[latitude]" maxlength="150" aria-required="true">
                </div>
              </div>
              <div class="col-md-6">
                <div class="mb-3 field-business-longitude required">
                  <label class="form-label" for="business-longitude">Longitude</label>
                  <input formControlName="longitude" [(ngModel)]="business.longitude" type="text" id="business-longitude"
                    class="form-control" name="Business[longitude]" maxlength="150" aria-required="true">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="card card-primary mt-2">
          <div class="card-header with-border">
            <h3 class="card-title">Opening Hours</h3>
          </div>
          <div class="card-body">
            <p>Note: Time format example 10:00 AM-05:00 PM (12 hours format)</p>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group timerange">
                  <label for="meta-sunday">Sunday</label>
                  <input formControlName="opening_sunday" [(ngModel)]="business.openings.sunday" type="text"
                    id="meta-sunday" class="form-control" name="meta[openings][sunday]">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group timerange">
                  <label for="meta-monday">Monday</label>
                  <input formControlName="opening_monday" [(ngModel)]="business.openings.monday" type="text"
                    id="meta-monday" class="form-control" name="meta[openings][monday]">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group timerange">
                  <label for="meta-tuesday">Tuesday</label>
                  <input formControlName="opening_tuesday" [(ngModel)]="business.openings.tuesday" type="text"
                    id="meta-tuesday" class="form-control" name="meta[openings][tuesday]">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group timerange">
                  <label for="meta-wednesday">Wednesday</label>
                  <input formControlName="opening_wednesday" [(ngModel)]="business.openings.wednesday" type="text"
                    id="meta-wednesday" class="form-control" name="meta[openings][wednesday]">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group timerange">
                  <label for="meta-thursday">Thursday</label>
                  <input formControlName="opening_thursday" [(ngModel)]="business.openings.thursday" type="text"
                    id="meta-thursday" class="form-control" name="meta[openings][thursday]">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group timerange">
                  <label for="meta-friday">Friday</label>
                  <input formControlName="opening_friday" [(ngModel)]="business.openings.friday" type="text"
                    id="meta-friday" class="form-control" name="meta[openings][friday]">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="meta-saturday">Saturday</label>
                  <input formControlName="opening_saturday" [(ngModel)]="business.openings.saturday" type="text"
                    id="meta-saturday" class="form-control" name="meta[openings][saturday]">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card card-primary">
          <div class="card-header with-border">
            <h3 class="card-title">Media</h3>
          </div>

          <div class="card-body chart-responsive">
            <img *ngIf="!imageUploading" class="media-container" src="{{business.image}}"
              style="height : 250px; width : 100%">
            <div *ngIf="imageUploading" class="media-container text-center"
              style="height : 250px; width : 100%; padding: 40%">
              <div class="fa fa-2x  fa-circle-o-notch fa-spin"></div>
            </div>
            <div class="button-container">
              <div class="mb-3 field-business-media required">
                <!-- <input type="hidden" id="business-media" class="form-control" name="Business[media_id]" value="3086"> -->
              </div>
              <input type="file" (change)="uploadImage($event)" id="media-file" class="" name="Media[file]"
                accept="image/*">
            </div>
          </div>
        </div>
        <div class="card card-primary mt-2">
          <div class="card-header with-border">
            <h3 class="card-title">Social Links</h3>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="meta-website">Website Link</label>
                  <input formControlName="link_website" [(ngModel)]="business.links.website" type="text"
                    id="meta-website" class="form-control" name="meta[links][website]">
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label for="meta-facebook">Facebook Link</label>
                  <input formControlName="link_facebook" [(ngModel)]="business.links.facebook" type="text"
                    id="meta-facebook" class="form-control" name="meta[links][facebook]">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="meta-twitter">Twitter Link</label>
                  <input formControlName="link_twitter" [(ngModel)]="business.links.twitter" type="text"
                    id="meta-twitter" class="form-control" name="meta[links][twitter]">
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label for="meta-youtube">Youtube Link</label>
                  <input formControlName="link_youtube" [(ngModel)]="business.links.youtube" type="text"
                    id="meta-youtube" class="form-control" name="meta[links][youtube]">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="meta-instagram">Instagram Link</label>
                  <input formControlName="link_instagram" [(ngModel)]="business.links.instagram" type="text"
                    id="meta-instagram" class="form-control" name="meta[links][instagram]">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="meta-linkedin">Linkedin Link</label>
                  <input formControlName="link_linkedin" [(ngModel)]="business.links.linkedin" type="text"
                    id="meta-linkedin" class="form-control" name="meta[links][linkedin]">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="meta-tiktok">Tiktok Link</label>
                  <input formControlName="link_tiktok" [(ngModel)]="business.links.tiktok" type="text" id="meta-tiktok"
                    class="form-control" name="meta[links][tiktok]">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="meta-pinterest">Pinterest Link</label>
                  <input formControlName="link_pinterest" [(ngModel)]="business.links.pinterest" type="text"
                    id="meta-pinterest" class="form-control" name="meta[links][pinterest]">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card card-primary mt-2">
          <div class="card-header with-border">
            <h3 class="card-title">Publish</h3>
          </div>
          <div class="card-body chart-responsive">
            <div class="form-group">
              <button type="submit" class="btn btn-block btn-success">Save</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
