<div *ngIf="!profileLoaded" class="col-lg-12 col-md-12">
  Loading.....
</div>
<form *ngIf="profileLoaded" [formGroup]="form" (ngSubmit)="onUpdate()">
  <div class="row">
    <div class="col-md-8">
      <div class="card mb-0">
        <div class="card-header">
          <h3 class="card-title">Update Profile</h3>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-sm-6 col-md-6">
              <div class="form-group">
                <label class="form-label">Username</label>
                <div class="form-group field-user-username required">
                  <input formControlName="username" [(ngModel)]="profile.username" id="user-username"
                    class="form-control" name="User[username]" placeholder="Username">
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-6">
              <div class="form-group">
                <label class="form-label">Phone Number</label>
                <div class="form-group field-user-mobile">
                  <div class="iti iti--allow-dropdown">
                    <input type="tel" formControlName="mobile" [(ngModel)]="profile.mobile" id="user-mobile"
                      class="form-control" name="User[mobile]" autocomplete="off" style="width: 100%;"
                      placeholder="984-1234567">
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-4 col-md-4">
              <div class="form-group">
                <label class="form-label">First Name</label>
                <div class="form-group field-user-first_name">
                  <input type="text" formControlName="first_name" [(ngModel)]="profile.first_name" id="user-first_name"
                    class="form-control" name="User[first_name]" maxlength="255" placeholder="First Name">
                </div>
              </div>
            </div>
            <div class=" col-sm-4 col-md-4">
              <div class="form-group">
                <label class="form-label">Middle Name</label>
                <div class="form-group field-user-middle_name">
                  <input type="text" formControlName="middle_name" [(ngModel)]="profile.middle_name"
                    id="user-middle_name" class="form-control" name="User[middle_name]" maxlength="255"
                    placeholder="Middle Name">
                </div>
              </div>
            </div>
            <div class="col-sm-4 col-md-4">
              <div class="form-group">
                <label class="form-label">Last Name</label>
                <div class="form-group field-user-last_name">
                  <input type="text" formControlName="last_name" [(ngModel)]="profile.last_name" id="user-last_name"
                    class="form-control" name="User[last_name]" maxlength="255" placeholder="Last Name">
                </div>
              </div>
            </div>
            <div class=" col-sm-6 col-md-6">
              <div class="form-group">
                <label class="form-label">Display Name</label>
                <div class="form-group field-user-display_name">
                  <input type="text" formControlName="display_name" [(ngModel)]="profile.display_name"
                    id="user-display_name" class="form-control" name="User[display_name]" placeholder="Display Name">
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-6">
              <div class="form-group">
                <label class="form-label">Gender</label>
                <div class="form-group field-user-gender">
                  <select formControlName="gender" [(ngModel)]="profile.gender" id="profile-gender" class="form-select"
                    name="Profile[gender]">
                    <option value="">CHOOSE</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                    <option value="Other">Other</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-6">
              <div class="form-group">
                <label class="form-label">Email address</label>
                <div class="form-group field-user-email required">
                  <input type="email" formControlName="email" [(ngModel)]="profile.email" id="user-email"
                    class="form-control" name="User[email]" placeholder="Email">
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-6">
              <div class="form-group">
                <label class="form-label">Address</label>
                <div class="form-group field-user-location">
                  <input type="text" formControlName="location" [(ngModel)]="profile.location" id="user-location"
                    class="form-control" name="User[location]">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card mb-5">
        <div class="card-body">
          <button type="submit" class="btn btn-success" [disabled]="!form.valid">Update Profile</button>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card card-primary">
        <div class="card-header with-border">
          <h3 class="card-title">Media</h3>
        </div>

        <div class="card-body chart-responsive">
          <img *ngIf="!imageUploading" class="media-container" src="{{profile.image}}"
            style="height : 250px; width : 100%">
          <div *ngIf="imageUploading" class="media-container text-center"
            style="height : 250px; width : 100%; padding: 40%">
            <div class="fa fa-2x  fa-circle-o-notch fa-spin"></div>
          </div>
          <div class="button-container">
            <div class="mb-3 field-profile-media required">
              <!-- <input type="hidden" id="profile-media" class="form-control" name="Business[media_id]" value="3086"> -->
            </div>
            <input type="file" (change)="uploadImage($event)" id="media-file" class="" name="Media[file]"
              accept="image/*">
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
